*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    height: 100vh;
}

.left {
    flex: 0 0 20%;
}

.right {
    flex: 0 0 80%;
}

.sidebar-nav {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.sidebar-nav a {
    text-decoration: none;
}

.logo {
    margin-top: 20px;
}
.logo, .box1-nav {
    margin-bottom: 60px;
}